@font-face
{
    font-family: "Open Sans";
    src: url('../styles/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face
{
    font-family: Futura;
    src: url('../styles/fonts/Futura-Light.ttf') format('truetype');
}

body, html
{
    margin: 0;
    height: 100%;
    width: 100%;
    /*font-family: "Open Sans", "HelveticaNeue Light","Roboto Light","Slate Light","Segoe WP",NokiaPureTextLight,sans-serif !important;*/
}

input, textarea
{
    font-family: "HelveticaNeue Light","Roboto Light","Slate Light","Segoe WP",NokiaPureTextLight,sans-serif !important;;
    font-size: 1.1em !important;
}

.content {
    padding: 10px;
}

.required {
    background-color: #D63333;
    color: white;
}

.deleteButton {
    display:none;
    position: absolute;
    top: 0em;
    right: .5em;
    width: 60px;
    background-color: #bd2729 !important;
    color: #fff !important;
}

a:link {
    text-decoration: none;
}

.km-root .km-android .km-view {
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
}

.km-android .km-view-title
{
    visibility: visible;
}